<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>form</h1>
    <form action="/addbook" method="post">
        <input placeholder="enter the book name" name="name">
        <input placeholder="enter the author name" name="author">
        <input placeholder="enter the price" name="price">
        <button type="submit">Submit</button>
    </form>
</body>

</html>